@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #028ED1;
  --color-secondary: #e8f2ff;
  --color-accent: #E77A34;
  --color-neutral: #64748b;
  --color-base-100: #f8fafc;
  --color-base-200: #ffffff;
  --color-base-300: #e2e8f0;
  --color-base-content: #1e293b;
  --color-info: #2563eb;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
}

* {
  scrollbar-width: thin;
}

html, body, #root {
  height: 50%;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

@layer base {
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
}
